header { 
    height:150px;
    background-color:#98FF98;

}
footer{ 
    height:150px;
     background-color:#98FF98;
}
main{
    height:60px;
     background-color:#98FF98;
}

#logo,#cta{
     text-align: center;
}
    